[submodule "apollo-ios-codegen"]
	path = apollo-ios-codegen
	url = https://github.com/apollographql/apollo-ios-codegen
[submodule "apollo-ios"]
	path = apollo-ios
	url = https://github.com/apollographql/apollo-ios
