name: "PR Subtree Push"

permissions:
  contents: write

on:
  pull_request_target:
    branches:
        - main
        - v1
    types: [closed]

jobs:
  split-subtrees:
    if: ${{ github.event.pull_request.merged }}
    runs-on: macos-latest
    name: Split and Push Subtrees
    outputs:
      releaseVersion: ${{ steps.getVersion.outputs.RELEASE_VERSION }}
    steps:
    - name: Checkout Repo
      uses: actions/checkout@v4
      with:
        ref: ${{ github.event.pull_request.base.ref }}
        fetch-depth: 0
    - name: Setup SSH Keys
      uses: webfactory/ssh-agent@v0.7.0
      with:
        ssh-private-key: |
          ${{ secrets.APOLLO_IOS_DEPLOY_KEY }}
          ${{ secrets.APOLLO_IOS_CODEGEN_DEPLOY_KEY }}
          ${{ secrets.APOLLO_IOS_DEV_DEPLOY_KEY }}
          ${{ secrets.APOLLO_IOS_PAGINATION_DEPLOY_KEY }}
    - name: Configure Git
      uses: ./.github/actions/configure-git
    - name: Update Merge Commit Message
      shell: bash
      env:
        PR_TITLE: ${{ github.event.pull_request.title }}
      run: |
        git commit --allow-empty --amend -m "$PR_TITLE (apollographql/apollo-ios-dev#${{ github.event.pull_request.number }})"
        git push --force-with-lease
    - name: Subtree - Apollo iOS
      uses: ./.github/actions/subtree-split-push
      with:
        subtree: apollo-ios
        remote: git@github.com:apollographql/apollo-ios.git
        target-branch: ${{ github.event.pull_request.base.ref }}
        pr-number: ${{ github.event.pull_request.number }}
        pr-title: ${{ github.event.pull_request.title }}
    - name: Subtree - Apollo iOS Codegen
      if: always()
      uses: ./.github/actions/subtree-split-push
      with:
        subtree: apollo-ios-codegen
        remote: git@github.com:apollographql/apollo-ios-codegen.git
        target-branch: ${{ github.event.pull_request.base.ref }}
        pr-number: ${{ github.event.pull_request.number }}
        pr-title: ${{ github.event.pull_request.title }}
    - name: Subtree - Apollo iOS Pagination
      if: always()
      uses: ./.github/actions/subtree-split-push
      with:
        subtree: apollo-ios-pagination
        remote: git@github.com:apollographql/apollo-ios-pagination.git
        target-branch: ${{ github.event.pull_request.base.ref }}
        pr-number: ${{ github.event.pull_request.number }}
        pr-title: ${{ github.event.pull_request.title }}
    - name: Push Updated History
      if: always()
      shell: bash
      run: |
        git fetch
        git push

  publish-release:
    if: success('split-subtrees') && startsWith(github.ref, 'refs/heads/release/')
    needs: split-subtrees
    runs-on: macos-latest
    name: Publish Release
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v4
      - name: Configure Git
        uses: ./.github/actions/configure-git
      - name: Trigger publish-release workflow
        shell: bash
        run: |
          gh workflow run publish-release.yml
        env:
          GH_TOKEN: ${{ secrets.APOLLO_IOS_PAT }}